#htmlEntire{
  
background-color: black;

color: white;
}


#content img {
    position: relative;
    left: 42%;
    top: 20;
    width:250px; 
    height: auto
}



#adminPanel{
	position: relative;
    left: 80%;
    top: -200;


}

#createE{
	
	background-color: white;
    border: none;
    color: black;
    font-family:  Charcoal, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#acceptR{
	
	background-color: white;
    border: none;
    color: black;
    font-family:  Charcoal, sans-serif;
    font-weight: bold;
    text-align: center;
     font-size: 14px;

}



#tableDiv{

    position: relative;
    left: 23%;
    top: 150;
    width: 50%;

}


table, th, td {
    border: 4px solid gray;
    border-collapse: collapse;

}
th, td {
    padding: 5px;
}